%h1 Credits
%h2 Icons
%ul
  %li
    %a{href: "http://thenounproject.com/noun/diploma/#icon-No3630",
      target: "_blank"}
      Diploma
    , designed by
    %a{href: "http://thenounproject.com/AVEart", target: "_blank"}
      Ashley Etheridge
  %li
    %a{href: "http://thenounproject.com/noun/mail/#icon-No429",
      target: "_blank"}
      Mail
  %li Facebook, LinkedIn, and Github logos property of those companies.

%h2 Images
%p Photos were self-taken.
