#homePane.clearfix
  %span#sideTitleName
    IAB
  %img#homeImage{src: '/img/omar-portrait.jpg'}
  #homeContent
    :markdown
      # Hi, I'm Omar.

      I'm a Stanford student and avid tinkerer exploring the startup life.
