:markdown
  # Hi, I'm Omar.

  You seem to have stumbled upon my page.

  This will get prettier as I have time, but take a look around!

  ## Who I am

  * Stanford CS:Systems, '14.
  * Follows everything from frontend webdev to networking protocols.
  * Enamored by programming languages, from design to implementation.
  * Likes shiny things.

  ## What I do

  * Works at [startups](http://thebackplane.com/).
  * DJs and produces [dance music](https://soundcloud.com/yellow5).
  * Codes [projects](https://www.github.com/osdiab).
