!!!
%html
  = haml :'template/head'
%body
  #topContainer
    #sidebar
      %span#sidebarName IAB
    #content
      = yield

  #bottomContainer
    = haml :'template/titlebar'
    = haml :'template/footer'
