@import 'constants';
@import 'webfonts';
@import 'header';
@import 'navigation';
@import 'homePane';

/**************
 * Containers *
 **************/
body {
  font-family: 'Open Sans', 'Trebuchet MS', 'Verdana', 'Helvetica', 'Arial',
  sans-serif;
  color: #000;
  background-color: $off-white;
  min-width: 75em;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,
    th,td {
  margin: 0;
  padding: 0;
}

/************
 * Sections *
 ************/

#content {
  clear: both;
}

#footer {
  clear: both;
  padding: 1.5em 0em;;
  width: 100%;

  p {
    margin: 0;
    margin-right: 3em;
    text-align: right;
    color: #777;
  }
}

/*********************
 * Text and Headings *
 *********************/
* {
  font-size: 1em;
  line-height: 1.5em;
}

p {
  margin-top: .75em;
  margin-bottom: .75em;
}

h1, h2, h3 {
  font-weight: normal;
  margin-top: 0;
}

h1 {
  color: #FF6D00;
  font-size: 4em;
  margin-bottom: .25em;
}

h2 {
  color: #2C93BA;
  font-size: 2.5em;
  margin-top: .25em;
  margin-bottom: .25em;
}

h3 {
  color: #3A9AC0;
  font-size: 1.3em;
  margin-top: .1em;
  margin-bottom: .1em;
}

/*********
 * Links *
 *********/
a img {
  border: none;
}

a:link {
  color: #69C;
}

a:visited {
  color: #C3F;
}

a:hover, a:active, a:focus {
  color: #C00;
}

/*****************
 * Page Elements *
 *****************/
hr {
  height: 1px;
  border-top: 1px;
  border-right: none;
  border-left: none;
  border-color: #aaa;
  width: 40%;
}

table td {
  vertical-align: top;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
