@import 'constants';

#header {
  color: white;
  background: $orange;
  width: 100%;
  margin-top: 1.5em;
  padding: 1.25em 0;
  height: 7.5em;
  clear: both;
}

#title {
  position: relative;
  font-family: 'Code-Pro-LC', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  cursor: hand;
  cursor: pointer;
  float: left;
  margin-right: 3em;
  margin-left: 4.5em;
}

#titleLogo {
  vertical-align: baseline;
  height: 7.5em;
  padding-right: .25em;
}

#titleName {
  font-family: $titleFont;
  font-size: $titleSize;
  line-height: $titleLineHeight;
}


#titlebarName {
  display: inline-block;
  height: .715em;
}
