@import 'constants';

#homePane {
  width: 100%;
  clear: both;
  box-shadow: 0 .25em 1.5em -.25em #eee;
}

#sideTitle {
  float: left;
  margin: 3em;
}

#sideTitleName {
  position: relative;
  float: left;
  top: .35em;
  left: -.3em;
  clear: both;

  font-family: $titleFont;
  font-size: $titleSize;
  line-height: $titleLineHeight;

  display: block;
  color: $orange;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

#homeContent {
}

#homeImage {
  display: block;
  float: right;
  width: 30em;
  margin-right: 3em;
}
