#navLinks
  %ul#navList
    //TODO: add navlist here
#navButtons
  //TODO: add social list here
  //'fb' => 'https://www.facebook.com/omar.s.diab',
  //'linkedin' => 'https://www.linkedin.com/in/osdiab',
  //'github' => 'https://github.com/osdiab',
  //'email' => 'mailto:o.s.diab@gmail.com',
