#titlebar
  #titlebarHeader{onclick:'window.location = \'/\''}
    %img#titlebarLogo{src: '/public/images/od-logo.svg', alt: 'O'}
    %span#titlebarName MAR

  #navigation
    = haml :'template/navigation'
