#titlebar
  #titlebarHeader{onclick:'window.location = \'/\''}
    %img#titlebarLogo{src: '/img/od-logo.svg', alt: 'O'}
    %span#titlebarName MAR

  #navigation
    - section = request.path.split('/')[1]
    = haml :'template/navigation', locals: {section: section}
